/**
 * Custom Styles
 **/
/* mailchimp form */
.page-main #mc_embed_signup{
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    margin: 0 auto;
}
.page-main #mc_embed_signup_scroll h2{
    text-align:center;
}
.page-main #mc_embed_signup .center{
    text-align:center;
}
.page-main #mc_embed_signup .mc-field-group {
    margin:auto;
    width:70%;
}
/**
 * Eric Meyer's CSS Reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;

}
blockquote, q {
    quotes: none;

}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;

}
table {
    border-collapse: collapse;
    border-spacing: 0;

}

body {
    background: black;
    color: white;
}

a, a:link {
    color: white;
}

a:hover, a:focus {
    color: #EEE;
}

a:active {
    color: #CCC;
}

/**
 * Hackathon Hackers-specific styling.
 **/

.page-container {
    margin: 40px auto;
    max-width: 480px;
    width: 100%;
}

.ico {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.page-main {
    margin-bottom: 20px;
}

.page-main .call-to-action {
    font: 32px/40px 'Share Tech Mono', monospace;
    text-align: center;
}

.page-main .note {
    font: 18px/20px 'Share Tech Mono', monospace;
    text-align: center;
    margin: 5px 0 20px;
}

.page-main iframe {
    display: block;
    margin: 0 auto;
}

.page-footer {
    font: 12px/20px 'Share Tech Mono', monospace;
    text-align: center;
    margin: 20px;
}

@media (max-width: 960px) {
    .page-container {
        margin: 10px auto;
    }
}

/**
 * Slackin
 **/

.__slackin[src="http://hashtaghackers.com/iframe?large"] {
  width: 173px !important;
}

