[submodule "subgroup-finder"]
	path = subgroup-finder
	url = https://github.com/HackathonHackers/subgroup-finder.git
[submodule "hackathons"]
	path = hackathons
	url = https://github.com/HackathonHackers/upcoming-hackathons.git
